<div class="card" tabindex="-1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{pageComment.blogPost.title}}</h5>
        <br>
        <p>{{pageComment.user.username}}</p>
      </div>
      <div class="modal-body">
        <p>{{pageComment.blogPost.description}}</p>
      </div>
      <div class="modal-footer">
        <p>{{pageComment.content}} Heyoo</p>
      </div>
    </div>
  </div>
</div>